@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "Space+Mono";
  font-weight: 400;
}

nav {
  background: rgb(56, 54, 54) 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

nav img {
  margin-right: 9rem;
  max-height: 4rem;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 2px;
}

nav a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 0.5em 1.5em;
}

nav a:hover {
  background-color: #fa8d0d;
  border-radius: 0.4em;
  color: #fff;
  transition: color 0.6s;
}
.banner {
  width: 100%;
  height: 18rem;
  display: flex;
  padding: 0;
}

.foto {
  max-height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.absolut {
  position: absolute;
  top: 300px;
  left: 10%;
}

.midias {
  padding-left: 15%;
}

.midias img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  justify-content: center;
  object-fit: cover;
}

.midias > a {
  text-decoration: none;
}

.meus__dados {
  height: 650px;
  margin-top: 0;
  padding-top: 0;
  padding-left: 40%;
  background-color: #fa8d0d;
}

h1 {
  font-size: 2.4rem;
  color: #fff;
  padding-top: 30px;
  text-align: right;
  padding-right: 10%;
  font-family: "Space+Mono";
  font-weight: 700;
  letter-spacing: 2px;
}

.meus__dados h2 {
  font-size: 1.7rem;
  color: #fff;
  padding-top: 30px;
  text-align: right;
  padding-right: 10%;
  font-family: "Space+Mono";
  font-weight: 400;
  letter-spacing: 2px;
}

.meus__dados h3 {
  font-size: 1.5rem;
  color: #fff;
  padding-top: 20px;
  text-align: right;
  padding-right: 10%;
  margin-top: 30px;
  font-family: "Space+Mono";
  font-weight: 400;
  letter-spacing: 2px;
}

.div__meusDados p {
  height: 400px;
  text-align: right;
  line-height: 2.2;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  padding-right: 10%;
  margin-top: 30px;
  font-family: "Space+Mono";
  font-weight: 400;
  letter-spacing: 2px;
}

.formacao {
  background: rgb(247, 242, 242) 0% 0% no-repeat padding-box;
  padding-left: 174px;
  display: flex;
  flex-direction: column;
  padding-bottom: 34px;
  padding-left: 20%;
}

.formacao h2 {
  height: 120px;
  text-align: left;
  font-size: 3rem;
  letter-spacing: 0px;
  font-weight: bold;
  color: #fa8d0d;
  padding-top: 34px;
  padding-bottom: 34px;
  font-family: "Space+Mono";
  font-weight: 700;
  letter-spacing: 2px;
}

.dados {
  padding-left: 25px;
}

.ano__formacao {
  height: 30px;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fa8d0d;
}

.title__formacao {
  height: 50px;
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fa8d0d;
}

.text__formacao {
  width: auto;
  height: 80px;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fa8d0d;
}

.experie {
  width: 100%;
  background: #fa8d0d 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
}

.experie h2 {
  width: 80%;
  text-align: left;
  font-size: 3.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: #fff;
  padding-top: 34px;
  padding-bottom: 34px;
}

.ano__experie {
  height: 30px;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
}

.title__experie {
  height: 50px;
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
}

.text__experie {
  width: auto;
  height: 80px;
  text-align: left;
  font-size: 1rem;
  letter-spacing: 2px;
  padding-bottom: 100px;
  padding-right: 65px;
  color: #fff;
}
.container-contato {
  background: rgb(247, 242, 242) 0% 0% no-repeat padding-box;
  padding-left: 174px;
  display: flex;
  flex-direction: column;
  padding-bottom: 34px;
  padding-left: 20%;
}

.title__contata {
  height: 120px;
  text-align: left;
  font-size: 3rem;
  letter-spacing: 0px;
  font-weight: bold;
  color: #fa8d0d;
  padding-top: 34px;
  padding-bottom: 34px;
  font-family: "Space+Mono";
  font-weight: 700;
  letter-spacing: 2px;
}
.trabalhos {
  width: 100%;
  background: rgb(240, 234, 234) 0% 0% no-repeat padding-box;
}

.trabalhos h2 {
  width: 80%;
  text-align: left;
  font-size: 3.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: #fa8d0d;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 20%;
}

.card__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}

.box__section {
  cursor: pointer;
  padding: 20px;
  width: 280px;
}

.img__cardBox {
  width: 260px;
  height: 190px;
}

.title__cardBox {
  font-family: Yaldevi;
  font-size: 32px;
  color: #fa8d0d;
  font-weight: 700;
}

.text__cardBox {
  font-family: Yaldevi;
  font-size: 12.5px;
  color: #f28d2d;
  font-size: 15px;
}

.contata {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container__contatoDiv {
  display: flex;
  flex-direction: row;
}

.div__textContata {
  width: 40%;
  margin: 0;
  padding: 0;
}

.subTitle__contata {
  color: #f28d2d;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 2px;
}
.div__textContata > p {
  padding-top: 30px;
  color: #f28d2d;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 2px;
}

.div__formulario {
  width: 50%;
}

label {
  color: #fa8d0d;
  text-align: left;
  font-size: 1.7rem;
  letter-spacing: 2px;
  padding-top: 5px;
}

input {
  height: 34px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #fa8d0d;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 398px;
  text-align: left;
  font-size: 1rem;
  letter-spacing: 2px;
}

textarea {
  width: 398px;
  height: 133px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #fa8d0d;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 1rem;
  letter-spacing: 2px;
}

form {
  display: flex;
  flex-direction: column;
  width: 298px;
}

button {
  background-color: rgb(56, 54, 54);
  display: inline-block;
  color: #fff;
  border-radius: 0.4em;
  font-size: 15px;
  font-weight: bold;
  padding: 0.5em 1.5em;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 2px;
  border-style: none;
  cursor: pointer;
}

button:hover {
  background-color: #fa8d0d;
  border-radius: 0.4em;
  border-style: none;
  color: #fff;
  transition: color 0.6s;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.container__midias2 {
  width: 300px;
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

.midias2 {
  width: 45px;
  height: 45px;
}

footer {
  background: rgb(56, 54, 54) 0% 0% no-repeat padding-box;
  width: auto;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__text {
  color: #fa8d0d;
}

@media only screen and (max-width: 768px) {
  nav {
    background: rgb(56, 54, 54) 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
  }

  nav img {
    margin-right: 1rem;
    max-height: 2rem;
    cursor: pointer;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  nav ul li {
    margin-left: 0.2px;
  }

  nav a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    padding: 0.5em 1.5em;
  }

  .btn__menu {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.8px;
    width: 180px;
  }

  .experie {
    padding-left: 40px;
    height: 1100px;
  }

  .formacao {
    padding-left: 40px;
  }

  .meus__dados {
    height: 800px;
  }
  .banner {
    height: 14rem;
  }
  .foto {
    max-height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  .absolut {
    position: absolute;
    top: 250px;
    left: 8%;
  }
  .midias {
    padding-left: 10%;
  }
  .midias img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    justify-content: center;
    object-fit: cover;
  }
  .contata {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 600px) {
  nav a {
    display: none;
  }

  .btn__menu {
    display: none;
  }

  .experie {
    padding-left: 10px;
    height: 1150px;
  }
  .ano__experie {
    padding: 10px;
  }

  .title__experie {
    padding: 10px;
  }

  .text__experie {
    padding-top: 10px;
    padding-left: 10px;
  }

  .formacao {
    padding-left: 20px;
  }

  .meus__dados {
    height: 1000px;
  }
  .banner {
    height: 12rem;
  }
  .foto {
    max-height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  .absolut {
    position: absolute;
    top: 250px;
    left: 8%;
  }
  .midias {
    padding-left: 10%;
  }
  .midias img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    justify-content: center;
    object-fit: cover;
  }
  .contata {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 328px) {
  h1 {
    font-size: 1.6rem;
  }
  .meus__dados {
    height: 1000px;
  }

  .meus__dados h2 {
    font-size: 1rem;
  }

  .meus__dados h3 {
    font-size: 0.8em;
    color: #fff;
  }

  .div__meusDados p {
    font-size: 0.8rem;
  }

  .formacao h2 {
    font-size: 2.3rem;
  }

  .dados {
    padding-left: 0;
  }

  .ano__formacao {
    font-size: 0.8rem;
  }

  .title__formacao {
    font-size: 1rem;
  }

  .text__formacao {
    font-size: 0.8rem;
  }

  .experie {
    padding-top: 20px;
    padding-left: 0;
    height: 1350px;
  }
  .ano__experie {
    padding-top: 20px;
    padding: 0;
    font-size: 0.8rem;
  }

  .title__experie {
    padding-top: 20px;
    padding-left: 0;
    font-size: 0.9rem;
  }

  .text__experie {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 0.8rem;
  }

  .experie > h2 {
    padding-top: 20px;
    font-size: 0.8rem;
  }
  .div-experie {
    padding-top: 20px;
  }

  label {
    font-size: 1rem;
  }

  input {
    width: 220px;
  }

  textarea {
    width: 220px;
    height: 83px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 298px;
  }

  button {
    width: 100px;
    padding-left: 12px;
  }

  .midias2 {
    display: none;
  }

  .foto {
    max-height: 90px;
  }
  .absolut {
    position: absolute;
    top: 250px;
    left: 8%;
  }
  .midias {
    padding-left: 10%;
  }
  .midias img {
    width: 20px;
    height: 20px;
  }
  .banner {
    width: 100%;
    height: 10rem;
  }

  .trabalhos h2 {
    font-size: 2.3rem;
  }

  .trabalhos h2 {
    font-size: 2.3rem;
    padding-bottom: 3px;
  }
}
